

@media screen and (max-width: 768px) {
    .container {
        background-color: black;
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 30vh; /* Or any other minimum you prefer */
        flex-wrap: wrap; /* Allow the boxes to wrap to the next line */
    }
    
    .box {
        font-size: 14px; /* Reduced font size */
        color: white;
        font-family: 'Courier New', Courier, monospace;
      }
}

@media screen and (min-width: 768px) {
    .container {
        background-color: black;
        gap: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        min-height: 10vh; /* Or any other minimum you prefer */
        flex-wrap: wrap; /* Allow the boxes to wrap to the next line */
        padding: 10px;
    }
    
    .box {
        font-size: 10px; /* Reduced font size */
        color: white;
      }
}